{{> header}}

<div class="text-center mt-3">
    <a href="/?view=list" class="btn btn-primary">Vue en liste</a>
    <a href="/?view=card" class="btn btn-primary">Vue en carte</a>
</div>

<div class="container-fluid m-2 p-5 bg-primary text-center">
    <h1>Les Marvels</h1>
</div>
<div class="row">
    {{# if (eq viewType 'list') }}
        {{#each data}}
            {{> li character=this }}
        {{/each}}
    {{ else }}
        {{#each data}}
            {{> cards character=this }}
        {{/each}}
    {{/if }}
</div>

{{> footer}}
